{% extends 'base.html.twig' %}

{% block main %}
    <h1>Créer une sortie</h1>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <label name="lieu_sortie"><a href="{{ path('lieu_create') }}">Ajouter lieu</a></label>
    <br>
    <input type="submit" value="Enregistrer">
    <input type="submit" value="Publier la sortie">
    <input type="submit" value="Annuler">
    {{ form_end(sortieForm) }}



{% endblock %}